div#background
  div#topo-texto
    div.texto-apresentacao Olá, sou Nicolas Ibanheiz e trabalho com
    div.texto-destaque Desenvolvimento
      div de sites & sistemas
  div#botao-portfolio Veja meu trabalho
  div.background-cobertura
  img(src="image/mobile/background.jpg", alt="Background")
div#portfolio
  portfolio
  div#portfolio-atuacao
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-sistema.png", alt="Sistemas")
      div.portfolio-atuacao-texto Sistemas
        span web para soluções empresariais que armazenam as informações em bancos de dados com alto  nível de segurança na nuvem.
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-site.png", alt="Sites")
      div.portfolio-atuacao-texto Sites
        span estáticos ou com gerenciador de conteúdo, provendo um catálogo para seus produtos e promovendo sua marca com análise de dados.
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-mobile.png", alt="Aplicativos")
      div.portfolio-atuacao-texto Aplicativos
        span mobile para todas as plataformas com a possibilidade de comunicação externa com seu sistema ou web site.

