div#background
  div#topo-texto
    div.texto-apresentacao Olá, sou Nicolas Ibanheiz e trabalho com
    div.text-destaque Desenvolvimento
      div de sites & sistemas
  div#botao-portfolio Veja meu trabalho
  div.background-cobertura
  img(src="image/mobile/background.jpg", alt="Background")