div#background
  div#topo-texto
    div.texto-apresentacao Olá, sou Nicolas Ibanheiz e trabalho com
    div.texto-destaque Desenvolvimento
      div de sites & sistemas
  div#botao-portfolio Veja meu trabalho
  div.background-cobertura
  img(src="image/mobile/background.jpg", alt="Background")
div#portfolio
  portfolio
  div#portfolio-atuacao
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-sistema.png", alt="Sistemas")
      div.portfolio-atuacao-texto Sistemas
        span web para soluções empresariais que armazenam as informações em bancos de dados com alto  nível de segurança na nuvem.
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-site.png", alt="Sites")
      div.portfolio-atuacao-texto Sites
        span estáticos ou com gerenciador de conteúdo, provendo um catálogo para seus produtos e promovendo sua marca com análise de dados.
    div.portfolio-atuacao-item
      div.portfolio-atuacao-image
        img(src="image/desktop/portfolio-icon-mobile.png", alt="Aplicativos")
      div.portfolio-atuacao-texto Aplicativos
        span mobile para todas as plataformas com a possibilidade de comunicação externa com seu sistema ou web site.
div#sobre
  div.sobre-imagem
  div.sobre-descricao
    div.sobre-titulo
      div.sobre-titulo-nome Nicolas Ibanheiz
      div.sobre-titulo-idade-loc 21 anos, São Paulo
    div.sobre-texto
      p Técnico em informática pela Escola Técnica Estadual de Itaquera, atuo a mais de 3 anos com soluções e aplicações empresariais. Sempre estudando e praticando as principais tecnologias de mercado necessárias  para as ferramentas utilizadas nessas soluções.
      p O principal foco do meu trabalho é atender a necessidade de seu negócio, como levantamentos de dados para tomadas de decisões, análise de  alcance de propagandas exibidas em seu web site e principalmente visibilidade para seus produtos nos principais motores de busca como  Google, Yahoo e Bind.

div#contato
  div.contato-titulo Entre em contato para contratar meus serviços
  div.contato-telefone
    div.contato-telefone-icon
      img(src="image/desktop/icon-telefone.png", alt="Telefone")
    div.contato-telefone-numero (11) 96430-3975
  div.contato-form
    form(id="form-contato")
      div.contato-campo
        div.contato-campo-label Nome
        div.contato-campo-input
          input(type="text" placeholder = "João" required)
      div.contato-campo
        div.contato-campo-label Email
        div.contato-campo-input
          input(type="email" placeholder = "joao@exemplo.com" required)
      div.contato-campo
        div.contato-campo-label Assunto
        div.contato-campo-input
          input(type="text" placeholder = "Sobre o que vamos falar" required)
      div.contato-campo
        div.contato-campo-label Mensagem
        div.contato-campo-input
          textarea(placeholder = "Sua mensagem" required)
      div.contato-botao
        input(type="submit")

