header
  width 100%
  height 50px
  background main-color
  position fixed
  z-index 5
  opacity(0.92)
  @extends .grid-between

#logo
  width 96px
  height 33px
  margin 7px 0 0 12px
  img
    width 100%
  @media (min-width: em(800px))
    width 133px
    height 46px

#icon-menu
  width 27px
  height 22px
  background url(../image/mobile/icon-menu.png)
  margin  12px 12px 0 0

#menu-principal
  width 100%
  margin-top 50px
  position fixed
  background main-color
  z-index 5
  transition(all, 0.4s, linear)
  opacity(0)
  visibility hidden
  ul li
    height 50px
    a
      display block
      height 50px
      font-size rem(17px)
      color #FFF
      line-height 50px
      padding-left 10px

.show-menu-principal
  visibility visible !important
  opacity(0.92, !important)
  transition(all, 0.4s, linear)
