#background
  width 100%
  height 400px
  overflow hidden
  @media (min-width em(1150px))
    height 685px
  img
    height 100%
    right 30%
    @media (min-width em(400px))
      position static
    @media (min-width em(530px))
      width 100%
      height auto
      right 0
      position static

.background-cobertura
  width 100%
  height 100%
  background-color #333
  opacity(0.4)
  position absolute
  z-index 1
  @media (min-width em(1150px))
    height 685px

#topo-texto
  width 85%
  align-center-horizontal(85, percent)
  z-index 2
  text-align center
  margin-top 100px
  color #FFF
  @media (min-width em(1150px))
    margin-top 180px

  .texto-apresentacao
    font-size rem(25px)
    text-shadow: 1px 1px 1px #666
    @media (min-width em(1150px))
      font-size rem(40px)

  .texto-destaque
    margin-top 15px
    font-size rem(35px)
    font-family "myriad semibold"
    text-shadow: 1px 1px 1px #666
    @media (min-width em(700px))
      font-size rem(50px)
    @media (min-width em(1150px))
      font-size rem(100px)
    div
      font-size rem(25px)
      @media (min-width em(700px))
        font-size rem(30px)
      @media (min-width em(1150px))
        font-size rem(70px)

#botao-portfolio
  width 155px
  height 45px
  align-center-horizontal(175, px)
  background-color main-color
  color #fff
  line-height 45px
  text-align center
  font-size rem(15px)
  z-index 2
  margin-top 300px
  opacity(0.8)
  border-radius 3px
  transition(all, 0.2s, linear)
  @media (min-width em(1150px))
    margin-top 520px
  @media (min-width em(1440px))
    width 180px
    height 60px
    font-size rem(18px)
    line-height 60px

#botao-portfolio:hover
  transition(all, 0.2s, linear)
  background main-strong-color

#portfolio
  width 100%

.portfolio-grid
  @media (min-width: em(800px))
    display flex
    justify-content space-between

.portfolio-imagem-grande
  width 100%
  position relative
  border-top 2px solid #FFF
  .portfolio-descricao
    padding-top 40%
  .portfolio-descricao:hover
    padding-top 35%
  img
    width 100%
  @media (min-width: em(800px))
    width 50%
    border-right 2px solid #FFF

.portfolio-imagem-pequena-container
  img
    width 100%
  @media (min-width: em(800px))
    width 50%

.portfolio-imagem-pequena
  width 100%
  position relative
  border-top 2px solid #FFF
  .portfolio-descricao
    padding-top 20%
  .portfolio-descricao:hover
    padding-top 15%
  img
    width 100%
    position relative

.portfolio-descricao
  width 100%
  height 100%
  position absolute
  z-index 2
  text-align center
  opacity 0.3
  transition(all, 0.4s, linear)

.portfolio-descricao:hover
  opacity 1
  transition(all, 0.4s, linear)
  cursor pointer

.portfolio-descricao-titulo
  font-size rem(35px)
  color #FFF
  text-shadow 1px 1px 2px #333
  @media (min-width: em(800px))
    font-size rem(50px)
  @media (min-width: em(1440px))
    font-size rem(60px)

.portfolio-descricao-texto
  font-size rem(17px)
  color #FFF
  text-shadow 1px 1px 2px #333
  @media (min-width: em(800px))
    font-size rem(25px)
  @media (min-width: em(1440px))
    font-size rem(30px)

.portfolio-background
  width 100%
  height 100%
  height 100%
  position absolute
  background #333
  opacity 0.7
  z-index 1
  transition(all, 0.4s, linear)

.portfolio-color-red
  background #1C0000

.portfolio-color-green
  background #0A1E09

.portfolio-color-blue
  background #000020

.portfolio-color-yellow
  background #3D3E00


#portfolio-atuacao
  width 100%
  @media (min-width: em(800px))
    display flex
    justify-content space-between

.portfolio-atuacao-item
  padding 10%
  @media (min-width: em(800px))
    padding 3%
    width 33.33%

.portfolio-atuacao-image
  width 40%
  margin 0 auto
  @media (min-width: em(800px))
    width 110px
    height 130px
    margin 0 auto
  img
    width 100%

.portfolio-atuacao-texto
  font-size rem(20px)
  color main-color
  @media (min-width: em(800px))
    font-size rem(22px)
  @media (min-width: em(1440px))
    font-size rem(25px)
  span
    color text-color
    margin-left 5px

.image-top
  padding-top 20px

#portfolio-atuacao
  border-top 7px solid main-color
  border-bottom 7px solid main-color

#sobre
  width 100%

.sobre-imagem
  width 100%
  min-height 200px
  background #000

.sobre-descricao
  width 100%
  padding 5%
  font-size rem(18px)
  color text-color

.sobre-titulo
  width 100%
  margin 0 auto
  text-align center

.sobre-titulo-nome
  font-size rem(28px)
  padding 15px 0
  margin-bottom 15px
  border-bottom 2px solid main-color

.sobre-titulo-idade-loc
  font-size rem(23px)

.sobre-texto
  font-size rem(18px)
  color text-color
  margin-top 25px
  p
    margin-top: 15px

#contato
  width 100%
  min-height 435px
  background main-color
  margin-top 20px
  padding 5%
  padding-bottom 60px

.contato-titulo
  width 100%
  font-size rem(28px)
  color #FFF

.contato-telefone
  margin-top 20px
  @extends .grid-start

.contato-telefone-icon
  width 28px
  height 28px
  img
    width 100%

.contato-telefone-numero
  font-size rem(20px)
  color #FFF
  margin-left 10px
  padding-top 2px

.contato-form
  margin-top 20px

.contato-campo
  width 100%
  margin-top 10px

.contato-campo-label
  font-size rem(16px)
  color #FFF

.contato-campo-input
  width 100%
  margin-top 3px
  input, textarea
    width 100%
    padding 5px
    color #333
    font-size rem(15px)
    font-family verdana, arial, sans serif
  textarea
    height 100px

.contato-botao
  input
    width 100%
    height 35px
    background main-strong-color
    margin-top 20px
    border 0
    color #FFF
    border-radius 2px
    transition(all, 0.2s, linear)

.contato-botao input:hover
  margin-top 15px
  cursor pointer
  transition(all, 0.2s, linear)
