#background
  width 100%
  height 400px
  overflow hidden
  position relative
  img
    height 100%
    right 30%
    position relative

.background-cobertura
  width 100%
  height 100%
  background-color #333
  opacity(0.4)
  position absolute
  z-index 1

#topo-texto
  width 85%
  align-center-horizontal(85, percent)
  z-index 2
  text-align center
  margin-top 100px
  color #FFF
  .texto-apresentacao
    font-size rem(25px)
    text-shadow: 1px 1px 1px #666
  .text-destaque
    margin-top 15px
    font-size rem(35px)
    font-family "myriad semibold"
    text-shadow: 1px 1px 1px #666
    div
      font-size rem(25px)

#botao-portfolio
  width 155px
  height 45px
  align-center-horizontal(155, px)
  background-color main-color
  color #fff
  line-height 45px
  text-align center
  font-size rem(15px)
  z-index 2
  margin-top 300px
  opacity(0.8)
  border-radius 3px
