.modal-portfolio-container
  width 100%
  height 100%
  background #FFF
  position fixed
  transition all linear 0.5s
  z-index 100
  opacity 0.95

.modal-portfolio-container.ng-hide
  opacity 0
  transition all linear 0.5s

.modal-close
  cursor pointer
  font-size rem(40px)
  color main-color
  position absolute
  top 15px
  right 20px
  font-weight bold

.titulo-container
  width 100%
  margin-top 100px
  font-size rem(50px)
  color main-color
  text-align center