header
  div#logo
    img(src="image/desktop/logo.png", alt="Ibanheiz")
  div#icon-menu(data-show-menu)
nav#menu-principal
  ul
    li
      a(href="#") Portfólio
    li
      a(href="#") Sobre
    li
      a(href="#") Contato
    li
      a(href="#") Blog