doctype html
html(data-ng-app="ibanheiz")
  head
    meta(charset='utf8')
    base(href='/')
    title= "Nicolas Ibanheiz"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='build/css/index.css')
    link(rel='shortcut icon', href='image/favicon.png', type='image/x-icon')
  body#topo
    block body