nav.menu-principal
  ul.menu-lista
    li.menu-item
      a.menu-item-link(href="#portfolio" du-smooth-scroll du-scrollspy offset="50" duration="1000")
        div.menu-item-icon.icon-portfolio(data-ng-if="isMobile")
          img(src="image/mobile/portifolio.png", alt="Portifólio")
        div.menu-item-label Portfólio
    li.menu-item
      a.menu-item-link(href="#sobre" du-smooth-scroll du-scrollspy offset="50" duration="1000")
        div.menu-item-icon.icon-sobre(data-ng-if="isMobile")
          img(src="image/mobile/sobre.png", alt="Sobre")
        div.menu-item-label Sobre
    li.menu-item
      a.menu-item-link(href="#contato" du-smooth-scroll du-scrollspy offset="50" duration="1000")
        div.menu-item-icon.icon-contato(data-ng-if="isMobile")
          img(src="image/mobile/contato.png", alt="Contato")
        div.menu-item-label Contato
    li.menu-item
      a.menu-item-link(href="#")
        div.menu-item-icon.icon-blog(data-ng-if="isMobile")
          img(src="image/mobile/blog.png", alt="Blog")
        div.menu-item-label Blog