nav.menu-principal
  ul.menu-lista
    li
      a(href="#" scroll-to="portfolio") Portfólio
    li
      a(href="#" scroll-to="sobre") Sobre
    li
      a(href="#" scroll-to="contato") Contato
    li
      a(href="#") Blog