div.portfolio-grid
  div.portfolio-imagem-grande.image-portfolio
    div.portfolio-descricao(data-background-portfolio)
      div.portfolio-descricao-titulo Vai Ser Rimando
      div.portfolio-descricao-texto #Rede social para cultura hip hop
    div.portfolio-background
    img(src="image/desktop/portfolio-vsr.png", alt="Vai Ser Rimando")
  div.portfolio-imagem-pequena-container
    div
      div.portfolio-imagem-pequena.image-portfolio
        div.portfolio-descricao(data-background-portfolio)
          div.portfolio-descricao-titulo Jove Tecnologia
          div.portfolio-descricao-texto #Site est치tico para cat치logo
        div.portfolio-background
        img(src="image/desktop/portfolio-jove.png", alt="Jove Tecnologia")
    div
      div.portfolio-imagem-pequena.image-portfolio
        div.portfolio-descricao(data-background-portfolio)
          div.portfolio-descricao-titulo Jove Tecnologia
          div.portfolio-descricao-texto #Site est치tico para cat치logo
        div.portfolio-background
        img(src="image/desktop/portfolio-jove.png", alt="Jove Tecnologia")