@font-face {
  font-family: "myriad pro";
  src: url("fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: "myriad pro";
  src: url("fonts/MYRIADPRO-BOLD.OTF");
  font-weight: bold;
}

@font-face {
  font-family: "myriad cond";
  src: url("fonts/MYRIADPRO-COND.OTF");
}

@font-face {
  font-family: "myriad semibold";
  src: url("fonts/MYRIADPRO-SEMIBOLD.OTF");
  font-weight: bold;
}

